body {
    background: #ccc;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

canvas {
    border: 1px solid #00ff00;
}

#sidebar {
}

#App {
    display: flex;
    justify-content: flex-end;
    height: 95vh;
    /* margin: 0 auto; */
}
