body {
    background: #ccc;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Droid Sans', sans-serif;
}

canvas {
    border: 1px solid #00ff00;
}

#sidebar {
}

#sidebar > h1 {
  font-family: 'Bangers', cursive;
  font-size: 60px;
  letter-spacing: 3px;
}

#App {
    display: flex;
    justify-content: flex-end;
    height: 95vh;
    /* margin: 0 auto; */
}
